*.patch
*.zip
*.log
*.png
*.o
*.d
**/*.tar.gz
lib/*.a
GPATH
GRTAGS
GTAGS
perf*.txt
prof.out*
html/
build/
**/nbproject/private/
**/build/
**/dist/
.env
.dep.inc
.gitconfig
.bash_history
.bashrc
.rpmmacros
core
core.[0-9][0-9]*
app/mkcrd/mkcrd
app/mkcrd/test/crd_decode
app/mkcrd/test/crd_encode
app/mkcrd/test/test_argutil
app/mkcrd/test/test_counter
app/mkcrd/test/test_env
app/mkcrd/test/test_input
app/mkcrd/test/test_mkcrd
demo/queries.csv
PLM6mtu/
prototype
.bash_history
.bashrc
.gitconfig
.rpmmacros
ps_home/
rpmbuild/
tns_admin/
